.{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Consolas,Sans-Serif;
}

body{
	background:#d3d7de;
}
.header{
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: yellowgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}


        .navbar {
            background-color: black;
            color: white;
            padding: 15px;
            text-align: center;
        }

        .navbar h1 {
            margin: 0;
        }

.home {
  display: flex;
  align-items: center;
  padding: 0 10%;
}



.img {
  display: block;          /* Ensures that the image is treated as a block element */
  border-radius: 8px;      /* Adds slightly rounded corners */
  width: 500px;     /* Image will take 100% of its container’s width */
  height: auto;    /* The height will automatically adjust to maintain the aspect ratio */
  
}

a {
  color: #007BFF; /* Bright blue */
  text-decoration: none; /* Removes underline */
}

a:hover {
  text-decoration: underline; /* Adds underline on hover for usability */
}

.hr1 {
  border: none;
  border-top: 2px dashed; /* Dashed line */
  width: 100%;
}